<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Login form and sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

</head>
<body>		<!----------end form----------->
	<!----------end member-login----------->
		<!----------start sign_up----------->
	
			<!----------start form----------->
		

			<form action="/action_page.php">
				<h2>Register Form</h2>
				<div class="input-container">
				  <i class="fa fa-user icon"></i>
				  <input class="input-field" type="text" placeholder="Username" name="usrnm">
				</div>
			  
				<div class="input-container">
				  <i class="fa fa-envelope icon"></i>
				  <input class="input-field" type="text" placeholder="Email" name="email">
				</div>
			  
				<div class="input-container">
				  <i class="fa fa-key icon"></i>
				  <input class="input-field" type="password" placeholder="Password" name="psw">
				</div>
			  
				<button type="submit" class="btn">Register</button>
			  </form>



			<!-- 		 -->
      <!-- <form class="sign" action="#" method="POST"> -->
        <!-- {% csrf_token %} -->

				<!-- <div class="formtitle">Sign Up-It's free.</div> -->
				--------start top_section---------
				<!-- <div class="top_section"> -->
					<!-- <div class="section"> -->
						<!-- <div class="input username"> -->
							<!-- {{form.username}} <span><img src="{% static 'images/select.png'%}"/> </span> -->
<!-- 							 -->
						<!-- </div> -->
						<!-- <div class="input password"> -->
							<!-- {{form.password1}}<span><img src="{% static 'images/close.png '%}"/></span> -->
						<!-- </div> -->
            <!-- <div class="input password"> -->
              <!-- {{form.password2}}<span><img src="{% static 'images/close.png '%}"/></span> -->
            <!-- </div> -->
<!-- 						 -->
					<!-- </div> -->
					<!-- <div class="section"> -->
						<!-- <div class="input-sign email"> -->
							<!-- {{form.email}} -->
						<!-- </div> -->
						<!-- <div class="input-sign re-email"> -->
              <!-- {{form.comfirm_email}} -->
<!-- 						 -->
<!-- 					 -->
					<!-- </div> -->
				<!-- </div> -->
				--------end top_section---------
				--------start personal Details---------
				--------start bottom-section---------
				<!-- <div class="bottom-section"> -->
					<!-- <div class="title">Personal Details</div> -->
					--------start name section---------
					<!-- <div class="section"> -->
						<!-- <div class="input-sign details"> -->
							<!-- {{form.firstname}} -->
						<!-- </div> -->
						<!-- <div class="input-sign details1"> -->
              <!-- {{form.lastname}} -->
						<!-- </div> -->
						<!-- <div class="clear"> </div> -->
					<!-- </div> -->
					--------start mail section---------
					--------start city section---------
					<!-- <div class="section"> -->
						<!-- <div class="input-sign details"> -->
						  <!-- {{form.city}} -->
						<!-- </div> -->
						<!-- <div class="input-sign details1"> -->
              <!-- {{form.state}} -->
						<!-- </div> -->
						<!-- <div class="clear"> </div> -->
					<!-- </div> -->
					--------start Address section---------
					<!-- <div class="section"> -->
						<!-- <div class="input-sign details"> -->
						  <!-- {{form.office_address}} -->
						<!-- </div> -->
						<!-- <div class="input-sign details1"> -->
              <!-- {{form.phone}} -->
						<!-- <div class="clear"> </div> -->
					<!-- </div> -->
<!-- 					 -->
<!-- 		         -->
					<!-- </div> -->
					<!-- <div class="submit"> -->
						<!-- <input class="bluebutton submitbotton" type="submit" value="Sign up" /> -->
					<!-- </div> -->
				<!-- </div> -->
				--------end bottom-section---------
			</form>
		
		
		
		
		
		
		
    
    
    
		
		
    
    
    
    
    
    

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
			<!----------end form----------->
		</div>
		<!----------start copyright----------->
			<p class="copy_right">&#169; 2014 Template by<a href="http://w3layouts.com" target="_blank">&nbsp;w3layouts</a> </p>
</body>
</html>
